/* Global Layout Set-up */
* { 
    box-sizing: border-box;
    /*border: 1px solid red;****used for debugging purposes****/
  }
body {
    margin: 0 auto 0;
    background-color: hsl(209, 80%, 99%);
    font-family: 'Roboto', sans-seri;
}

li {
    list-style-type: none;
    margin-left: auto;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.pad-Spacing {
    padding: 0.29em;
}
/*=================================
            Base Layouts 
==================================*/

/*********** Header **************/
.header {
    text-align: center;
    width: 100%;
}

.header__name {
    margin: 0 auto 0;
    font-size: 1.1em;
    padding: 0.65em;
    background-color: hsl(209, 83%, 70%);
    color: #444;
    border-bottom: 0.8px solid hsl(209, 89%, 60%);
    font-family: 'Orbitron', sans-serif;
}

.header-main-nav__unorderedList {
    margin: 0 auto 0;
    padding: 0.5em;
}

.header-main-nav__listItem a {
    color: hsl(209, 83%, 30%);
}

.header__profile {
    background-color: #eee;
    padding-top: 15px;
}

.header__profileImage {
    max-width: 95%;
}

.header__profileSummary {
    padding: 2% 5% 2%;
    color: #333;
    text-align: justify;
    font-size: 1.4em;
    font-family: 'Dancing Script', cursive;
    line-height: 1.5em;
}

/*********** Main **************/
.main {
    text-align: center;
    color: #333;
    line-height: 1.5em;

}
.main__heading {
    color: hsl(209, 83%, 30%);
}

.main-portfolioproject {
    background-color: hsl(209, 88%, 99%);
    border-radius: 10px;
    overflow: hidden;
}

.main-porfolioproject__image {
    margin: 4px auto 4px;
    max-width: 95%;
}

.main-porfolioproject__name,
.main-contactinfo__heading, 
.main-skills__heading     {
    color: hsl(209, 70%, 55%);
    margin:6px auto 6px;
    padding: 2px;
}
.main-porfolioproject__summary,
 .main-contactinfo__summary,
 .main-skills__summary {
    padding: 2% 5% 2%;
    color: #333;
    margin:6px auto 16px;
}
.main-contactinfo {
    background-color: #efefef;
    padding-top: 10px;
    color: blue;
}

.main-contactinfo__emailaddressNphonenumberWrapper {
    text-align: center;
}

.main-contactinfo__phonenumber, .main-contactinfo__emailaddress {
    margin: 1px auto 4px;
}
.main-contactinfo__emailaddress {
    margin-bottom: 0px;
    padding: 10px;
    padding-top: 5px;
}
.main-contactinfo__phonenumber  {
    margin-bottom: 2px;
}

img {
    max-width: 100%;
}


/********** Footer **********/
.footer-unorderlist-forLargeScreens {
    display: none;
}
.footer {
    text-align: center;
    background-color: hsl(209, 88%, 70%);
    padding: 10px;
    border-top: 1px solid hsl(209, 90%, 60%);
}
.footer-unorderlist {
    margin: 0 auto 0;
}

.debug {
    border: 1px solid orange;
}

.footer-unodered__item__studentname   {
    float: left;
}
.footer-unodered__item__linkToTopOfPage {
    float: right;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
} 


/*==============================================
                MEDIA QUERIES
==============================================*/

/***********************************************
   MEDIA QUERY FOR TABLETS {min-width: 768px}
 
 **********************************************/
@media screen and (min-width: 768px) {

    /*********** header ****************/ 
    .header__profile {
        padding-bottom: 5px;
        padding-right: 5px;
        background-color: #dde;
    }

    .header__name {
        padding: 5px;
        font-size: 1.75em;
    }
    .header-main-nav__unorderedList {
        background-color: hsl(209, 90%, 80%);
        padding: 0.15em;
    }

    .header-main-nav__listItem {
        display: inline-block;
        margin-left: -5px;
        border-style: none;
        padding: 10px 15px 10px;
    }

    .header__profileSummary {
        float: left;
        max-width: 60%;
        margin-top: 0px;
    }

    .header__profileImage {
        float: right;
        max-width: 35%;
        margin-top: 0;
    }

    /**********      Main   ************/
    .main__heading {
        margin: 1.5em auto 1.5em;
    }

    .main-unorderedPortfolioList {
        padding: 10px;
    }
    .main-unorderedPortfolioList__item {
        display: inline-block;
        max-width: 45%; 
        vertical-align: top;
        
    }
    .main-unorderedPortfolioList__item {
        margin-right: 10px;
        padding: .43em;
    }

    .main-contactinfo__summary {
        max-width: 85%;
    }

    .main-skills__ulList {
        text-align: justify;
        padding-left: 6%;
    }
    /******    FOOTER  *************/
    .footer-unorderlist-forLargeScreens {
        display: block;
        padding-left: 5%;
        padding-right: 5%;
    }
    .footer-nav__listItem {
        display: inline-block;
        padding: 5px;
    }
    .footer-unorderlist {
        display: none;
    }
    .footer-nav__unorderedlist {
        padding: 5px;
    }
    .footer-unodered__item__studentname {
        float: left;
    }
    .footer-nav {
        float: right;
    }
}

/*********************************************

 Media Query for Desktop {min-width: 1024px} 

**********************************************/

@media screen and (min-width: 1024px) {

    /*********   Header ****************/
    .largeScreensContainer {
        background-color: hsl(209, 83%, 70%);
        padding: 15px 5px 2px;

    }
    .header__name {
        float: left;
        border: 0;
        padding-top: 0;
    }

    .header-main-nav {
        float: right;
    }

    .header-main-nav__unorderedList {
        background-color: hsl(209, 83%, 70%);
    }


    /*********    Main      ***********/

    .main-unorderedPortfolioList__item {
        display: inline-block;
        max-width: 30%;
        
    }
    .main-unorderedPortfolioList__item {
        margin-right: 5px;
    }
    body {
        max-width: 1030px;
    }
    .main {
        background-color: white;
    }
    .main__heading {
        margin-top: 0;
        padding-top: 30px;
    }

    .main-contactinfo__summary {
        max-width: 60%;
    }

    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    } 
}